// menu Button
.menu-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background: $primary-color;
  position: absolute;
  z-index: 1;
  right: 35px;
  top: 35px;
  text-transform: uppercase;
  width: 7.2rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  @include easeInOut;

  .menu-text {
    padding-left: 0;
    padding-top: 0.2rem;
    font-weight: bold;
    font-size: medium;
    line-height: 1;
  }

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 3px 1px 4px 1px;
    padding-right: 1rem;
    background: #fff;
    @include easeInOut;
  }

  &:hover {
    background: $secondary-color;
    @include easeInOut();
  }

  // Rotate Into X With Menu Lines
  &.close {
    .btn-line {
      transform: rotate(180deg);

      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 5px);
      }
      // Line 2 - Hidden
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  //&-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($color: $primary-color, $amount: 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeInOut;

    &.show {
      // Slides in from top and the text is resized also.
      transform: scale3d(1.5, 1.1, 0.2);
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeInOut;

    &.show {
      // Slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    // This changes the format of the nav menu as follows
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    scroll-behavior: unset;
    @include easeInOut;

    &:hover {
      color: $secondary-color;
    }
  }
}
